<div class="builder-page">
    <!-- Header -->
    <h1 class="page-title">{{this.resumeData.title}}</h1>



    <!-- Main Content -->
    <div class="content-grid">

        <!-- LEFT SIDEBAR -->
        <aside class="sidebar left-sidebar bg-transparent">
            <!-- <div class="menu-section">
                <p class="menu-title">My files</p>

                <a class="menu-item active">
                    <span class="icon">📄</span>
                    <span>Resumes</span>
                </a>

                <a class="menu-item">
                    <span class="icon">✉️</span>
                    <span>Cover letters</span>
                </a>
            </div>

            <button class="create-btn">
                <span class="icon">＋</span>
                Create New
            </button> -->
        </aside>
        <app-resume-screen></app-resume-screen>
    </div>

</div>