 .maindiv {
     height: 100vh;
     background: #33567e;
     margin: auto;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .main_matcard {
     border: 2px solid rgba(0, 0, 0, 0.125) !important;
     border-radius: 0.50rem;
     background: #fff !important;
     box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
     display: block !important;
 }

 input[type="password"]::-ms-reveal,
 input[type="password"]::-ms-clear,
 input[type="password"]::-webkit-password-toggle-button {
     display: none;
     -webkit-appearance: none;
 }

 .sansSerif-font16-bold {
     font-family: sans-serif !important;
     font-weight: 600 !important;
     font-size: 16px !important;
     color: #465b66;
 }

 /* ===============================
   RESPONSIVE DESIGN
================================ */
 @media (max-width: 767px) {

     .main_matcard {
         width: 400px !important;
     }
 }

 .font-family {
     font-family: sans-serif;
     font-weight: 600;
     font-size: 13px;
     color: #465b66;
 }