<div class=" container-fluid py-4">
    <div class="card shadow-lg border-0 p-4">

        <!-- 1️⃣ NAME -->
        <!-- HEADER -->
        <div class="mb-3 ">
            <h5 class="fw-bold mb-1" [ngStyle]="{'color': selectColor}">{{ latestData.section?.Contact?.Name }}
            </h5>
            <p class="small text-muted mb-0 ">
                {{ latestData.section?.Contact?.Email }}<br />
                {{ latestData.section?.Contact?.Mobile }}<br />
                {{ latestData.section?.Contact?.Address }}
            </p>
        </div>

        <!-- 2️⃣ SUMMARY -->
        @if (isSectionEnabled('summary')) {
        <div class="mb-4">
            <p class="small mb-0">
                {{latestData.section?.Summary }}
            </p>
            <hr>
        </div>
        }

        <!-- 3️⃣ EDUCATION -->
        @if (isSectionEnabled('education')) {
        @if (latestData?.section?.Education?.length) {

        <div class="mb-3">
            <h4 class="fw-semibold text-uppercase small mb-1" [ngStyle]="{'color': selectColor}">
                Education
            </h4>

            @for (edu of latestData.section.Education; let i = $index; track edu) {
            <p class="small mb-0 fw-semibold">
                {{ edu.FieldOfStudy }}
            </p>

            <p class="text-muted small mb-2">
                {{ edu.university }} · {{ edu.Location }}
            </p>
            }

        </div>

        }
        }



        <!-- EXPERIENCE -->
        @if (isSectionEnabled('experience') && latestData?.section?.Experience?.length) {
        <div class="mb-4">
            <!-- <p class="fw-bold text-uppercase small mb-2" [ngStyle]="{'color': selectColor}">
                    Experience
                </p> -->

            @for (job of latestData.section.Experience; track job) {
            <div class="mb-4">

                <div class="d-flex justify-content-between">
                    <p class="fw-semibold mb-0">
                        {{ job.RoleAndJobTitle }}
                    </p>
                    <p class="small text-muted mb-0">
                        {{ job.StartDate }} – {{ job.EndDate || 'Present' }}
                    </p>
                </div>

                <p class="small text-muted mb-1">
                    {{ job.Employer }} · {{ job.Location }}
                </p>

                <ul class="small ps-3 mb-0">
                    @for (point of job.Description.split('. '); track point) {
                    <li>{{ point }}</li>
                    }
                </ul>

            </div>
            }

        </div>
        }
        <!--  SKILLS -->
        @if (isSectionEnabled('skills')) {
        <div class="mb-4">
            <!-- <p class="fw-bold text-uppercase small mb-1" [ngStyle]="{'color': selectColor}">
                    Skills
                </p> -->
            <p class="small text-muted mb-0">
                {{latestData.section?.Skills }}
            </p>
            <hr>
        </div>
        }
    </div>
</div>