 .sidebar {

     background: #003d7a;
     color: white;
     padding: 20px;
 }

 /* resume.component.scss */


 .sidebar {
     width: 30%;

     img {
         width: 140px;
         height: 140px;
         border-radius: 20px;
         object-fit: cover;
         border: 4px solid #fff;
         box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
     }

     h2 {
         margin: 10px 0 5px;
         font-size: 22px;
     }

     h4 {
         margin: 0 0 15px;
         font-size: 16px;
         // color: #555;
     }

     h5 {
         margin-top: 20px;
         font-size: 16px;
         border-bottom: 1px solid #ccc;
         padding-bottom: 5px;
     }

     ul {
         list-style: disc;
         padding-left: 20px;
     }

     p {
         margin: 3px 0;
     }
 }

 .content {
     width: 70%;
     padding-left: 20px;

     h3 {
         margin-top: 20px;
         font-size: 16px;
         border-bottom: 1px solid #ccc;
         padding-bottom: 5px;
     }

     h4 {
         margin: 10px 0 5px;
         font-size: 14px;
         color: #222;
     }

     small {
         display: block;
         color: #666;
         margin-bottom: 10px;
     }

     section {
         margin-bottom: 15px;

         ul {
             list-style: disc;
             padding-left: 20px;
         }
     }
 }