<div class=" container-fluid py-4">
    <div class="card shadow-lg border-0 p-4">

        <!-- 1️⃣ NAME -->
        <!-- HEADER -->
        <div class="mb-5 pb-2 text-center" [ngStyle]="{
       'border-bottom': '8px solid ' + (selectColor || 'black')
     }">
            <h5 class="fw-bold mb-1" [ngStyle]="{'color': selectColor}">{{resumeData.section.Contact.Name}}
            </h5>
            <p class="small text-muted mb-0 ">
                {{ resumeData.section.Contact.Email }}
                {{ resumeData.section.Contact.Mobile }}
                {{ resumeData.section.Contact.Address }}
            </p>
        </div>

        <!-- 2️⃣ SUMMARY -->
        @if (isSectionEnabled('summary')) {
        <div>
            <p class="small ">
                {{ resumeData.section?.Summary }}
            </p>
            <hr class="mt-0">
        </div>
        }

        <!-- 3️⃣ EDUCATION -->
        @if (isSectionEnabled('education') && resumeData?.section?.Education) {
        <div>

            <!-- <p class="fw-bold text-uppercase small mb-1" [ngStyle]="{'color': selectColor}">
                    Education
                </p> -->

            <p class="fw-semibold mb-0" [ngStyle]="{'color': selectColor}">
                {{ resumeData.section.Education.FieldOfStudy }}
            </p>

            <p class="small text-muted mb-0">
                {{ resumeData.section.Education.university }} ·
                {{ resumeData.section.Education.Location }}
            </p>

            <p class="small text-muted ">
                {{ resumeData.section.Education.Year }}
            </p>
            <hr class="mt-0">
        </div>
        }

        <!-- 4️⃣ SKILLS -->
        @if (isSectionEnabled('skills')) {
        <div>
            <!-- <p class="fw-bold text-uppercase small mb-1" [ngStyle]="{'color': selectColor}">
                    Skills
                </p> -->
            <p class="small text-muted ">
                {{ resumeData.section?.Skills }}
            </p>
            <hr class="mt-0">
        </div>
        }

        <!-- 5️⃣ EXPERIENCE -->
        @if (isSectionEnabled('experience') && resumeData?.section?.Experience?.length) {
        <div>

            <!-- <p class="fw-bold text-uppercase small mb-2" [ngStyle]="{'color': selectColor}">
                    Experience
                </p> -->

            @for (job of resumeData.section.Experience; track job) {
            <div>

                <div class="d-flex justify-content-between">
                    <p class="fw-semibold mb-0" [ngStyle]="{'color': selectColor}">
                        {{ job.RoleAndJobTitle }}
                    </p>
                    <p class="small text-muted mb-0">
                        {{ job.StartDate }} – {{ job.EndDate || 'Present' }}
                    </p>
                </div>

                <p class="small text-muted mb-1">
                    {{ job.Employer }} · {{ job.Location }}
                </p>

                <ul class="small ps-3 mb-0">
                    @for (point of job.Description.split('. '); track point) {
                    <li>{{ point }}</li>
                    }
                </ul>

            </div>
            }
            <hr>
        </div>
        }

    </div>
</div>