.main-toolbarheader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.main-container {
    height: 100vh;
    padding-top: 64px; // toolbar height (desktop)
}

.content {
    padding: 16px;
}

.app-title {
    flex: 1;
    /* ye title ko left me rakhega */
}

.nav-links {
    margin-left: auto;
    /* ye buttons ko right me push karega */
    display: flex;
    gap: 10px;
}