<div class="container-fluid py-4">

    <div class="card shadow-lg border-0 p-4">


        <div class="mb-3 border-4 ">
            <h2 class="fw-bold mb-1 pb-2">
                <span class="" [ngStyle]="{'color': selectColor}">{{latestData.section?.Contact?.Name }}</span>
            </h2>

            <p class="small text-muted mb-0">
                {{latestData.section?.Contact?.Email }}<br />
                {{latestData.section?.Contact?.Mobile }}<br />
                {{latestData.section?.Contact?.Address }}
            </p>

        </div>

        <hr class="my-3">


        @if (isSectionEnabled('summary')) {
        <div class="mb-3">
            <h4 class="fw-semibold text-uppercase small mb-1" [ngStyle]="{'color': selectColor}">Summary</h4>
            <p class="small mb-0">
                {{ latestData?.section?.Summary }}
            </p>
        </div>

        <hr class="my-3">
        }

        @if (isSectionEnabled('skills')) {
        <div class="mb-3">
            <h4 class="fw-semibold text-uppercase small mb-1" [ngStyle]="{'color': selectColor}">Skills</h4>
            <p class="small mb-0">
                {{latestData?.section?.Skills}}
            </p>
        </div>
        <hr class="my-3">
        }

        @if (isSectionEnabled('experience')) {
        @if(latestData?.section?.Experience?.length){
        <div class="mb-3">
            <p class="fw-semibold text-uppercase small mb-2" [ngStyle]="{'color': selectColor}">Experience</p>
            @for(job of latestData.section.Experience;track job){
            <div class="mb-3">
                <div class="d-flex justify-content-between flex-wrap">
                    <h4 class="fw-semibold small mb-0">{{ job.RoleAndJobTitle }}</h4>
                    <span class="text-muted small">
                        {{ job.StartDate }} – {{ job.EndDate ? job.EndDate : 'Present' }}
                    </span>
                </div>
                <p class="text-muted small mb-1">
                    {{ job.Employer }} · {{ job.Location }}
                </p>
                <ul class="small ps-3 mb-0">
                    @for(point of job.Description.split('. ');track point){
                    <li>{{ point }}</li>

                    }
                </ul>
            </div>
            }

        </div>
        <hr class="my-3">
        }
        }
        @if (isSectionEnabled('education')) {
        @if (latestData?.section?.Education?.length) {

        <div class="mb-3">
            <h4 class="fw-semibold text-uppercase small mb-1" [ngStyle]="{'color': selectColor}">
                Education
            </h4>

            @for (edu of latestData.section.Education; let i = $index; track edu) {
            <p class="small mb-0 fw-semibold">
                {{ edu.FieldOfStudy }}
            </p>

            <p class="text-muted small mb-2">
                {{ edu.university }} · {{ edu.Location }}
            </p>
            }

        </div>

        }
        }


    </div>

</div>